/* common style here  */
* {
    margin: 0px;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.button-flower {
    border: 0px;
    border-radius: 8px;
    background-color: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* design nav ber  */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 100px;
}
nav h1{
    color: #928c8c;
    font-size: 40px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px; 
}
.betaa{
    color: orange;
}
.list{
    display: flex;
    align-items: center;
}
.list li{
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 80;

}
.list a{
    text-decoration: none;
    color: black;
}

/* header section style here  */
header {
    margin: 0px;
    padding: 0px;
}

.banner {
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    max-height: 850px;
}


.banner-info {
    display: block;
    margin-top: 197px;
    margin-left: 240px;
    margin-right: 97px;
    margin-bottom: 0px;
}

.banner-info h1 {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin: 0px;
}

.banner-info p {
    margin-top: 32px;
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.banner-info>a>button {
    margin: 0px;
}

.banner-img {
    margin: 0px;
    padding: 0px;
}

.banner-img-info {
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 0px;
}


/* main section style  */

/* feature section stye */
.feature {
    margin-top: 150px;
}

.feature-heading {
    text-align: center;
}

.feature-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 24px;
}

.feature-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 48px;
    margin-left: 250px;
    margin-right: 250px;
}



.feature-pic {
    margin: 0px;
    display: flex;
    gap: 24px;
    margin-left: 120px;
    margin-right: 120px;
    justify-content: center;
}

.feature-img1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    max-height: 538px;

}

.feature-img1 img {
    padding: 0px;
    padding-left: 76px;
    padding-right: 78px;
    padding-top: 110px;
    padding-bottom: 0px;
}

.feature-img2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    max-height: 538px;
}

.feature-img2 img {
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 117px;
    padding-bottom: 51px;
}

.feature-img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    max-height: 538px;
}

.feature-img3 img {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 67px;
    padding-bottom: 0px;
}
.feature-pic-caption{
    display: flex;
    margin-top: 32px;
    /* margin-left: 300px; */
    gap: 300px;
    justify-content: center;
}
.feature-pic-caption h3{
    color: #272727;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* service section style  */
.service {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 140px;
    margin-right: 140px;
    gap: 100px;
    margin-top: 195px;
    margin-bottom: 128px;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    padding-left: 175px;
    padding-top: 86px;
    padding-right: 175px;
    padding-bottom: 87px;
}

.delivary-desc {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    padding-top: 24px;
}


/* hot deal section style  */
.hot-deal {
    display: flex;
    /* gap: 50px; */
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    text-align: center;
    justify-content: center;
}

.hot-deal-section {
    margin-top: 230px;
    margin-left: 150px;
}

.hot-deal-section h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 0px;
    padding-bottom: 24px;
}

.hot-deal-section>h2>span {
    color: #E55473;
}

.hot-deal-section p {
    padding-top: 0px;
    padding-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 200px;
    margin-right: 200px;
}

.hot-deal-section>a>button {
    margin-top: 0px;
    margin-bottom: 162px;
}

.hot-deal-pic {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 200px;
}


/* instagram section style  */
.insta {
    margin-top: 128px;
    text-align: center;
    margin-bottom: 128px;
}

.insta-desc h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 24px;
}

.insta-desc p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-left: 560px;
    margin-right: 560px;
}

.insta-pic {
    display: flex;
    gap: 15px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 50px;
    justify-content: center;
}


/* latest deal section styles */
.latest-deal {
    margin-left: 140px;
    margin-right: 140px;
    background-image: url('../image/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    max-height: 450px;
    padding-top: 122px;
    text-align: center;
    margin-bottom: 128px;
}

.latest-deal h2 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 5px;
}

.latest-deal p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 48px;
}

.deal-input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    margin-bottom: 121px;
    margin-top: 0px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}


/* design footer part  */
footer {
    background: #111010;
    text-align: center;
    padding-top: 128px;
}
.foot-desc{
    margin-top: 0px;
}
.foot-desc h2 {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}
.foot-desc >h2>span{
    color:#FFFFFF;
}
.pera{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 32px;
    margin-left: 560px;
    margin-right: 560px;
}
.small-pera{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    padding-bottom: 128px;
}

